.navbar {
  background: #000;
}
html {
  background: #efefef;
}
body {
  margin: 0;
  padding: 0;
  background: #efefef;
  font-weight: 300;
  color: #B6B6B6;
}
section {
  top: 19vh;
  position: absolute;
  min-height: 65vh;
  left: 50%;
  margin-left: -45%;
  border-top: 15px solid #313A3D;
  text-align: center;
  padding: 15px 0 110px;
  padding-bottom: 50px; 
  width: 90%;
}
h1 {
  margin-bottom: 40px;
  text-transform: uppercase;
  font-weight: 300;
}

form {
  width: 90%;
  margin: 0 5%;
}
form .field {
  width: 100%;
  position: relative;
  margin-bottom: 2vh;
}
form .field label {
  text-transform: uppercase;
  position: absolute;
  top: 0;
  left: 0;
  background: #313A3D;
  width: 100%;
  padding: 18px 0;
  letter-spacing: 0.075em;
  -webkit-transition: all 333ms ease-in-out;
  -moz-transition: all 333ms ease-in-out;
  -o-transition: all 333ms ease-in-out;
  -ms-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
form .field label + span {
  opacity: 0;
  color: white;
  display: block;
  position: absolute;
  top: 12px;
  left: 7%;
  text-shadow: 1px 2px 0 #cd6302;
  -webkit-transition: all 333ms ease-in-out;
  -moz-transition: all 333ms ease-in-out;
  -o-transition: all 333ms ease-in-out;
  -ms-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
form .field input[type="text"],
form .field input[type="email"],
form .field textarea {
  border: none;
  background: #E8E9EA;
  width: 100%;
  margin: 0;
  padding: 20px 0;
  padding-left: 28%;
  color: #313A3D;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
form .field input[type="text"]#msg,
form .field textarea#msg {
  height: 70px;
  resize: none;
  overflow: hidden;
  -webkit-transition: all 333ms ease-in-out;
  -moz-transition: all 333ms ease-in-out;
  -o-transition: all 333ms ease-in-out;
  -ms-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
form .field input[type="text"]:focus, form .field input[type="text"].focused,
form .field input[type="email"]:focus, form .field input[type="email"].focused,
form .field textarea:focus,
form .field textarea.focused {
  outline: none;
}
form .field input[type="text"]:focus#msg, form .field input[type="text"].focused#msg,
form .field textarea:focus#msg,
form .field textarea.focused#msg {
  padding-bottom: 150px;
}
form .field input[type="text"]:focus + label, form .field input[type="text"].focused + label,
form .field input[type="email"]:focus + label, form .field input[type="email"].focused + label,
form .field textarea:focus + label,
form .field textarea.focused + label {
  width: 27%;
  background: #FD9638;
  color: #313A3D;
}
form .field input[type="text"].focused + label,
form .field input[type="email"].focused + label,
form .field textarea.focused + label {
  color: #FD9638;
}
form .field:hover label {
  width: 27%;
  background: #313A3D;
  color: white;
}
form input[type="submit"] {
  background: #FD9638;
  color: white;
  -webkit-appearance: none;
  border: none;
  text-transform: uppercase;
  position: relative;
  padding: 13px 50px;
  letter-spacing: 0.1em;
  font-weight: 300;
  -webkit-transition: all 333ms ease-in-out;
  -moz-transition: all 333ms ease-in-out;
  -o-transition: all 333ms ease-in-out;
  -ms-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
form input[type="submit"]:hover {
  background: #313A3D;
  color: #FD9638;
}
form input[type="submit"]:focus {
  outline: none;
  background: #cd6302;
}
#map {
  height: 150vh;
  width: 100%;
}

.alert{
  display: none;
  text-align: center;
  padding: 10px;
  background: #79c879;
  color: #fff;
  margin-bottom: 10px;
}
.clock {
  display: none;
}
.footer{
  font-size: 10px;
}